<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif"></h1>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/"
      routerLinkActive="active-Link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ title }}
    </a>
    <div class="actions">
      <ng-container *ngIf="!isLoggedIn">
        <a class="navbar-brand" routerLink="/register" routerLinkActive="active-Link">Register</a>
        <a class="navbar-brand" routerLink="/login" routerLinkActive="active-Link">Login</a>
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <span>Hello, {{ username }}</span>
        <button class="btn btn-warning" (click)="logout()">Logout</button>
      </ng-container>
      
      <i
        class="fa-solid fa-cart-plus navbar-brand"
        style="cursor: pointer"
        routerLink="/cart"
        routerLinkActive="active-Link"
      ></i>
    </div>
  </div>
</nav>
