.actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.active-Link {
    padding: 5px 13px;
    border: none;
    background-color: #347d6b;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: .3s all ease-in-out;
}

.active-Link:hover {
    opacity: .8;
}