<div class="wrapper">
  <div class="inner">
    <form (ngSubmit)="loginUser()">
      <h3>Login</h3>
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        <input
          type="text"
          class="form-control"
          placeholder="Mail"
          [(ngModel)]="loginData.email"
          name="email"
          required
        />
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          [(ngModel)]="loginData.password"
          name="password"
          required
        />
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
